# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\”‡“¶∫”µ¿\code\pytorch-cifar100-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
